#usa-flag {
    width: 2.2rem;
    height: 2.2rem;
}

.logo-box {
    font-style: oblique;
    color: #fbfbf2;
    font-weight: 800;
    line-height: 2;
    font-size: 4rem;
    margin-left: 1.5rem;
    
}

.gh-1 {
    color: #ffba08;
    border-bottom: 3px solid #ad1b02;
    margin: 1rem;
}